<div class="login login-layout" id="linkExpired">
    <div class="imageIcon">
        <picture><img src="../../assets/images/loginModule/logoand.png" alt="Logo"></picture>
    </div>
    <form class="login-main-form">
        <div class="form-top email-confirm text-center">
            <picture class="check-icon">
                <img class="link-icon" alt="Logo" src="../../assets/images/loginModule/link-break.png" />
            </picture>
            <h2>Verification Link Expired</h2>
            <div class="email-confirmed-content">
                <p>The verification link has been expired.</p>
            </div>
        </div>
    </form>
</div>
