<div class="login login-layout">
    <div class="imageIcon">
        <picture><img src="../../assets/images/loginModule/logoand.png" alt="Logo"></picture>
    </div>
    <form [formGroup]="resetPasswordForm" (submit)="resetPasswordSubmit(resetPasswordForm)" class="login-main-form">
        <h2>Reset Password</h2>
        <div *ngIf="confirmMatch && emptyConfirmPassword !== ''" [ngClass]="'error'" class="error-message" style="position: unset;">
          Please enter the same password in both fields in order to reset it.</div>
        <div class="form-top">
            <div class="form-group ">
                <ng-template #tooltip>
                    <div id="tooltipContainer" [innerHtml]="html"></div>
                </ng-template>
                <input id="password-field" type="password" placeholder="Password" class="form-control login-input" maxlength="32" name="password" formControlName="password" placement="bottom start"  (keyup)="confirmPwd()"
                    required />
                    <!-- tooltipValidations($event); -->
                <span class="show-hide-pass-icon" style="right: 2.938rem">
                    <img toggle="#password-field" src="../../assets/images/loginModule/show-pass.png" width="24"
                        alt="Password" class="toggle-password">
                </span>
                <span [tooltip]="tooltip">
                  <i class="fa fa-info-circle" title="Edit Mode"></i>
                </span>
                <div *ngIf="resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].touched; else show" class="error-message">Password is required.</div>
                <ng-template #show>
                    <div class="error-message" *ngIf="passwordNotValid" [ngClass]="'error'">
                        Password is not valid
                    </div>
                </ng-template>
            </div>

            <div class="form-group">
                <input type="password" id="password-fieldd" placeholder="Confirm Password" class="form-control login-input" maxlength="32" name="confirmPassword" formControlName="confirmPassword" (keyup)="confirmPwd()" />
                <span class="show-hide-pass-icon">
                    <img toggle="#password-fieldd" src="../../assets/images/loginModule/show-pass.png" width="24"
                        alt="Password" class="toggle-password">
                </span>
                <div *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('required') && resetPasswordForm.controls['confirmPassword'].touched" class="error-message">Password is required</div>
                <!-- <div *ngIf="confirmMatch && emptyConfirmPassword !== ''" [ngClass]="'error'" class="error-message">
                  Please enter the same password in both fields in order to reset it.</div> -->
            </div>
            <div class="form-group">
                <button class="btn btn-green" [disabled]="resetPasswordForm.invalid || passwordNotValid">Submit</button>
                <!-- <img alt="Loading" *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                /> -->
            </div>
            <div class="form-group customError cstmError" style="color: #00bfb3 !important ;" *ngIf="responseMessageShow">
                {{responseMessage}}
            </div>
            <div class="form-group customError cstmError" *ngIf="error">
                {{invalidPassword}}
            </div>
        </div>
    </form>
</div>
