<div class="login">
  <h1 mat-dialog-title style="text-align: center">Change Password</h1>
  <form [formGroup]="resetPasswordForm" (submit)="changePasswordSubmit(resetPasswordForm)" class="login-main-form">
    <div class="form-top">
      <mat-dialog-content class="mat-typography" style="overflow: inherit;">
        <div class="form-group">
          <ng-template #tooltip>
            <div id="tooltipContainer" [innerHtml]="html"></div>
          </ng-template>
          <input id="current-password" type="password" [(ngModel)]="oldPassword" placeholder="Current Password"
            class="form-control login-input" maxlength="32" name="currentPassword" formControlName="currentPassword"
            required />
          <span class="show-hide-pass-icon">
            <img toggle="#current-password" src="../../assets/images/loginModule/show-pass.png" width="24"
              alt="Password" class="toggle-passwordReset">
          </span>
          <div
            *ngIf="resetPasswordForm.controls['currentPassword'].hasError('required') && resetPasswordForm.controls['currentPassword'].touched"
            class="error-message">Password is required.</div>
        </div>

        <div class="form-group">
          <ng-template #tooltip>
            <div id="tooltipContainer" [innerHtml]="html"></div>
          </ng-template>
          <input id="password-Reset" type="password" [(ngModel)]="newPassword" placeholder="New Password"
            class="form-control login-input" maxlength="32" name="password" formControlName="password"
            placement="bottom start" [tooltip]="tooltip" (keyup)="confirmPwd()" required />
          <span class="show-hide-pass-icon">
            <img toggle="#password-Reset" src="../../assets/images/loginModule/show-pass.png" width="24" alt="Password"
              class="toggle-passwordReset">
          </span>
          <div
            *ngIf="resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].touched; else show"
            class="error-message">Password is required.</div>
          <ng-template #show>
            <div class="error-message" *ngIf="passwordNotValid" [ngClass]="'error'">
              Password is not valid
            </div>
          </ng-template>
        </div>

        <div class="form-group">
          <input type="password" id="password-ResetConfirm" placeholder="confirm password"
            class="form-control login-input" maxlength="32" [(ngModel)]="newconfirmPassword" name="confirmPassword"
            formControlName="confirmPassword" (keyup)="confirmPwd()"
            [ngClass]="{ 'is-invalid':  confirmMatch && emptyConfirmPassword !== '' }" />
          <span class="show-hide-pass-icon">
            <img toggle="#password-ResetConfirm" src="../../assets/images/loginModule/show-pass.png" width="24"
              alt="Password" class="toggle-passwordReset">
          </span>
          <div
            *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('required') && resetPasswordForm.controls['confirmPassword'].touched"
            class="error-message">Password is required</div>
          <div *ngIf="confirmMatch && emptyConfirmPassword !== ''" [ngClass]="'error'" class="error-message">
            Passwords do not match </div>
        </div>

      </mat-dialog-content>

      <div class="form-group">
        <!-- <button class="btn btn-green" [disabled]="resetPasswordForm.invalid || passwordNotValid">Submit</button> -->
        <mat-dialog-actions align="end" style="padding-left:8px">
          <button type="submit" class="btn btn-green" [disabled]="resetPasswordForm.invalid" mat-button>Save</button>
          <button class="btn-gray ml-2" mat-button cdkFocusInitial mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
      </div>
      <div class="form-group customError" *ngIf="responseMessageShow" style="color: #00bfb3 !important ">
        {{responseMessage}}

      </div>
      <div class="form-group customError cstmError" *ngIf="error" style="color: rgb(175, 25, 25);">
        {{invalidPassword}}
      </div>

    </div>
  </form>
</div>
