.back-login {
    width: 100%;
}

.back-login a {
    color: #86898C;
}

.back-login a img {
    margin-bottom: 2px;
}

.error-showing {
    position: relative;
    text-align: center;
    color: #00bfb3 !important;
    font-weight: 500;
}

.email-icon img {
    width: 1.4rem;
}