<div class="p-2" style="border: 1px solid;width: 30rem;">
    <label class="d-block popup-heading mb-3">Widgets</label>
    <label class="section-header d-block mb-3 mt-5">Select from existing widgets</label>
    <select class="form-control">
        <option>Wall 1</option>
        <option>Wall 2</option>
        <option>Wall 3</option>
    </select>
    <span class="ortext-container d-block text-center mt-3 mb-3"><span class="position-relative">OR</span></span>
    <label class="d-block heading">Create New</label>
    <label class="section-header d-block">Name</label>
    <input type="text" class="form-control" placeholder="Type Widget name" />
    <label class="section-header d-block mt-3">Dashboard ID</label>
    <input type="text" class="form-control" placeholder="Type Dashboard ID" />
    <label class="section-header d-block mt-3">Widget ID</label>
    <input type="text" class="form-control" placeholder="Type Widget ID" />
    <div class="mt-4 mb-4 text-right">
        <button class=" btn-green">Save</button>
        <button class=" btn-gray ml-2">Cancel </button>
    </div>
</div>