<div class="p-3" style="border: 1px solid;width: 30rem;">
    <label class="section-header">Images</label>
    <div>
        <label class="d-block">Select</label>
        <div class="images-container p-5" style="border:1px solid;"></div>
        <span class="ortext-container d-block text-center mt-3 mb-3"><span class="position-relative">OR</span></span>
        <div class="add-image-btn text-center p-2 mt-4">
            <img class="add-btn-img" src="../../../../assets/images/WallModule/add-plus-button.svg"> Upload
        </div>
    </div>
    <div class="mt-3 text-right">
        <button class=" btn-green">Save</button>
        <button class=" btn-gray ml-2">Cancel </button>
    </div>
</div>
