<div class="login payment-layout">
  <mat-dialog-content class="mat-typography payment-Scroll" style="overflow: inherit;">
    <h4>Images</h4>
    <div>
      <label class="d-block">Select</label>
      <div *ngIf="imageVideoList.length != 0; else noExistingData">
        <div class="flex-container">
          <ul *ngFor="let item of imageVideoList;let i=index">
            <li style="list-style: none; padding: 1rem;">
              <div class="image-container">
                <img class="img" *ngIf="item.targetUrl == ''" [src]="item.src"/>
                <div *ngIf="item.targetUrl != ''">
                  <div *ngIf="item.targetUrl  | imageJwt | async; else loading">
                    <img class="img" [src]="item.targetUrl  | imageJwt | async" />
                  </div>
                  <ng-template #loading>
                    <div class="la-line-spin-fade-rotating la-2x">
                      <div></div>
                      <div></div>
                    </div>
                  </ng-template>
                </div>

                <div *ngIf="imageVideoList.length != 0 " class="action-buttons">
                  <mat-checkbox class="action-icon" [checked]="item.isChecked" class="design-question-checkbox"
                    (change)="selectImage($event,item.index)" #checkbox>
                  </mat-checkbox>
                  <input class="action-icon" type="image" src="../../assets/images/WallModule/delete_img.svg"
                    (click)="deleteUploadedImage(item.index)" />
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <ng-template #noExistingData>
        <div style="display: flex;flex-wrap: wrap; width: 59rem; max-height: 38rem !important;overflow-y: overlay">
          <ul *ngFor="let item of homeService.noExistingData">
            <li style="list-style: none; padding: 1rem;">
              <img [src]="item.src" style="height: 8rem;width: 8rem;" />
            </li>
          </ul>
        </div>
      </ng-template>
      <!-- <div *ngIf="!addingImg">
        <p-carousel class="upload-img-carousel"
          [value]="imageVideoList.length != 0 ? imageVideoList : homeService.noExistingData" [numVisible]="3"
          [numScroll]="3" [circular]="true">
          <ng-template let-item pTemplate="item">
            <div class="product-item position-relative">
              <div class="product-item-content">
                <span class="slider-img">
                  <img *ngIf="item.targetUrl == ''" [src]="item.src | imageJwt | async" />
                  <img *ngIf="item.targetUrl != ''" [src]="item.targetUrl  | imageJwt | async" />
                </span>
                <div *ngIf="imageVideoList.length != 0 " class="mt-5 image-actions">
                  <span class="check-image d-inline-block">
                    <mat-checkbox [checked]="item.isChecked" class="design-question-checkbox"
                      (change)="selectImage($event,item.index)" #checkbox>
                    </mat-checkbox>
                  </span>
                  <span style="display: inline" (click)="deleteUploadedImage(item.index)">
                    <input type="image" src="../../assets/images/WallModule/delete_img.svg" /></span>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div> -->
      <span class="ortext-container d-block text-center mt-3 mb-3"><span class="position-relative">OR</span></span>
      <div class="text-center p-2 mt-4">
        <label class="custom-file-upload">
          <input type="file" accept="image/jpeg, image/png,image/jpg" name="selectedFile" (change)="uploadImage($event)"
            style="display: none;" />
          <div class="add-icon">
            <img style="width: 1rem;" src="../../../assets/images/WallModule/add-plus-button.svg" alt="Add Logo Image">
            <span>&nbsp; Upload</span>
          </div>
        </label>
      </div>

    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" style="padding-left:8px">
    <button class="btn-green" mat-button (click)="save()">Save</button>
    <button class="btn-gray ml-2" mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  </mat-dialog-actions>
</div>
