<!-- no use -remove -->
<div class="login login-layout">
  <div class="imageIcon">
    <picture><img src="../../assets/images/loginModule/logoand.png" alt="Logo"></picture>
  </div>
  <form [formGroup]="resetPasswordForm" (submit)="changePasswordSubmit(resetPasswordForm)" class="login-main-form">
    <h2>Change Password</h2>
    <div class="form-top">
      <div class="form-group ">
        <ng-template #tooltip>
          <div id="tooltipContainer" [innerHtml]="html"></div>
        </ng-template>
        <input id="current-password" type="password" [(ngModel)]="oldPassword" placeholder="Current Password"
          class="form-control login-input" maxlength="32" name="currentPassword" formControlName="currentPassword"
          required />
        <span class="show-hide-pass-icon">
          <img toggle="#current-password" src="../../assets/images/loginModule/show-pass.png" width="24" alt="Password"
            class="toggle-passwordReset">
        </span>
        <div
          *ngIf="resetPasswordForm.controls['currentPassword'].hasError('required') && resetPasswordForm.controls['currentPassword'].touched"
          class="error-message">Password is required.</div>
      </div>

      <div class="form-group ">
        <ng-template #tooltip>
          <div id="tooltipContainer" [innerHtml]="html"></div>
        </ng-template>
        <input id="password-Reset" type="password" [(ngModel)]="newPpassword" placeholder="New Password"
          class="form-control login-input" maxlength="32" name="password" formControlName="password"
          placement="bottom start" [tooltip]="tooltip" (keyup)="tooltipValidations($event); confirmPwd()" required />
        <span class="show-hide-pass-icon">
          <img toggle="#password-Reset" src="../../assets/images/loginModule/show-pass.png" width="24" alt="Password"
            class="toggle-passwordReset">
        </span>
        <div
          *ngIf="resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].touched; else show"
          class="error-message">Password is required.</div>
        <ng-template #show>
          <div class="error-message" *ngIf="passwordNotValid" [ngClass]="'error'">
            Password is not valid
          </div>
        </ng-template>
      </div>

      <div class="form-group">
        <input type="password" id="password-ResetConfirm" placeholder="confirm password"
          class="form-control login-input" maxlength="32" [(ngModel)]="newconfirmPassword" name="confirmPassword"
          formControlName="confirmPassword" (keyup)="confirmPwd()"
          [ngClass]="{ 'is-invalid':  confirmMatch && emptyConfirmPassword !== '' }" />
        <span class="show-hide-pass-icon">
          <img toggle="#password-ResetConfirm" src="../../assets/images/loginModule/show-pass.png" width="24"
            alt="Password" class="toggle-passwordReset">
        </span>
        <div
          *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('required') && resetPasswordForm.controls['confirmPassword'].touched"
          class="error-message">Password is required</div>
        <div *ngIf="confirmMatch && emptyConfirmPassword !== ''" [ngClass]="'error'" class="error-message">
          Passwords do not match </div>
      </div>
      <div class="form-group">
        <button class="btn btn-green" [disabled]="resetPasswordForm.invalid || passwordNotValid">Submit</button>
        <!--   <img alt="Loading" *ngIf="loading"
                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> -->
      </div>
      <!-- <div class="form-group customError" *ngIf="responseMessageShow" style="color: green;">
                {{responseMessage}}
            </div> -->
      <div class="form-group customError cstmError" style="color: #00bfb3 !important ;" *ngIf="responseMessageShow">
        {{responseMessage}}
      </div>
      <div class="form-group customError cstmError" *ngIf="error">
        {{invalidPassword}}
      </div>
    </div>
  </form>
</div>
