<div class="page-not-found">
    <div class="mat-typography text-center">
        <img class="mb-4 content-img" src="../../../assets/images/WallModule/wall-share/contact-upload/icon63.png" alt="Send Invites For Test Files" />
        <h4 class="mb-0">404!!</h4>
        <br>

        <h5>We’re sorry! We can’t find the page you’re looking for.</h5>
        <div class="modal-info mb-4 mt-5">
            <!-- <p>We have detected duplicate emails within this file.</p>
      <p>To successfully upload your file, <strong>Please remove duplicate email contacts.</strong></p> -->
            <p>Either the URL entered in incorrect or the page doesn’t exist anymore.</p>
        </div>
        <a #xml href="" style="display: none;">get XML File</a> <br>
        <!--   <button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o" style="font-size:48px;color:blue"></i></button> -->

    </div>
</div>
<sw-footer></sw-footer>
